/////////////////////////
//        FONTS        //
/////////////////////////

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/////////////////////////
//    TEXT CLASSES     //
/////////////////////////

.text {
  &-center { text-align: center; }
  &-nowrap { white-space: nowrap; }
}

.title {
  font-family: 'Playfair Display', serif;
  color: #333333;

  &-m {
    font-size: 16px;
    font-weight: bold;
  }
}

.underline { text-decoration: underline; }
