/////////////////////////
//  COLOR DECLARATIONS //
/////////////////////////

// todo

$black: #333333;
$grey: #E0E0E0;

$primary: #32327C;
$secondary: #6262FF;
$tertiary: #7D7DFF;

$hi-primary: #FC9514;
$hi-secondary: #F7BB3D;
$hi-tertiary: #F9D82D;
$hi-quat: #FFF27D;
