/////////////////////////
//   SPACING CLASSES   //
/////////////////////////

$spacing-8:      8px;
$spacing-16:    16px;
$spacing-24:    24px;
$spacing-32:    32px;
$spacing-48:    48px;
$spacing-84:    84px;
$spacing-168:  168px;

$spacing-nav:   60px;

.pad {
  // navbar
  &-nav { 
    padding-bottom: $spacing-nav;
  }

  // left padding
  &-left, &-sides {
    &-24    { padding-left: $spacing-24; }
    &-84   { padding-left: $spacing-84; }
  }

  // right padding
  &-right, &-sides {
    &-24    { padding-right: $spacing-24; }
    &-84   { padding-right: $spacing-84; }
  }

  // top margin
  &-top, &-ends {
    &-8 { padding-top: $spacing-8; }
    &-16 { padding-top: $spacing-16; }
    &-24 { padding-top: $spacing-24; }
    &-48 { padding-top: $spacing-48; }
    &-84 { padding-top: $spacing-84; }
  }

  // bottom margin
  &-bot, &-ends {
    &-8 { padding-bottom: $spacing-8; }
    &-16 { padding-bottom: $spacing-16; }
    &-24 { padding-bottom: $spacing-24; }
    &-84 { padding-bottom: $spacing-84; }
  }
}

.margin {
  // left margin
  &-left, &-sides {
    &-8 { margin-left: $spacing-8; }
    &-16 { margin-left: $spacing-16; }
    &-24 { margin-left: $spacing-24; }
    &-32 { margin-left: $spacing-32; }
    &-48 { margin-left: $spacing-48; }
    &-84 { margin-left: $spacing-84; }
    &-168 { margin-left: $spacing-168; }
  }

  // right margin
  &-right, &-sides {
    &-8 { margin-right: $spacing-8; }
    &-16 { margin-right: $spacing-16; }
    &-24 { margin-right: $spacing-24; }
    &-32 { margin-right: $spacing-32; }
    &-48 { margin-right: $spacing-48; }
    &-84 { margin-right: $spacing-84; }
    &-168 { margin-right: $spacing-168; }
  }

  // top margin
  &-top, &-ends {
    &-8 { margin-top: $spacing-8; }
    &-16 { margin-top: $spacing-16; }
    &-24 { margin-top: $spacing-24; }
    &-32 { margin-top: $spacing-32; }
    &-48 { margin-top: $spacing-48; }
    &-84 { margin-top: $spacing-84; }
  }

  // bottom margin
  &-bot, &-ends {
    &-8 { margin-bottom: $spacing-8; }
    &-16 { margin-bottom: $spacing-16; }
    &-24 { margin-bottom: $spacing-24; }
    &-32 { margin-bottom: $spacing-32; }
    &-48 { margin-bottom: $spacing-48; }
    &-84 { margin-bottom: $spacing-84; }
  }
}
